<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header xmlns:h="http://xmlns.jcp.org/jsf/html" th:replace="fragments/commons::navigation"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Products</span></h1>
    <hr class="hr-3"/>
    <div th:each="p : ${products}"
         th:object="${p}"
         class="bg-blur container w-50">
        <div class="row mb-4 d-flex flex-column text-center">
            <a th:href="@{/product/details/{id}(id = *{id})}"><img library="img" th:src="*{picture}"
                                                                   class="img-thumbnail"
                                                                   width="200"
                                                                   height="200"/>
            </a>
            <h5 th:text="*{name}" class="text-center">Buzzer</h5>
            <h2 th:text="*{price}" class="text-center">65.00</h2>
        </div>
    </div>
</main>
<span style="visibility: hidden">...</span>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
